.so-pt-pan-table-body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.so-pt-pan-table-freeze-frame-wrapper {

}

.so-pt-pan-table-pan-left-wrapper {

}

.so-pt-pan-table-pan-frame-wrapper {

}

.so-pt-pan-table-pan-right-wrapper {

}
